body, html {
    height: 100%;
    font: times;
}

#parallax {
    min-height: 675px;
    min-width: 100%;
    background-image: url('utah9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: papayawhip;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    line-height: 55px;
}


.title h1 {
    margin-top: 125px;
    margin-left: 400px;
    color: snow;
}
.title p {
    margin-left: 400px;
    color: snow;
}




.navbar {
    position: fixed;
    height: 20px;
    margin-bottom: 0;
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

#about{
  padding: 5px;
}

#portfolio {
  padding: 5px;
}


 section{

  height:700px;
  width: 100%;
  font: 'arial';
  font-size: 16px;
  color: darkslategray;
  background-color: snow;
  padding: 5px;
}

  section .h3{
    padding: 3px;
  }


.portfolioBtn1 {
    height: 40px;
    width: 90px;
    background-color: blue;
    float: right;
}

.portfolioBtn2 {
    height: 40px;
    width: 90px;
    background-color: slategrey;
    float: right;
}

.portfolioBtn3 {
    height: 60px;
    width: 90px;
    background-color: salmon;
    float: right;
}

.portfolioBtn4 {
    height: 60px;
    width: 90px;
    background-color: lime;
    float: right;
}

.portfolioBtn5 {
    height: 80px;
    width: 90px;
    background-color: gold;
    float: right;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
